body {
  font-family: "Montserrat";
  font-weight: 400;
  text-align: center;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

/* Sticky Bar */

/* Style the navbar */

#sticky{
  position: sticky;
  top: 0;
  z-index: 1;
}

#navbar {
  overflow: hidden;
  background-color: #333;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

/* Heading */


.big-heading {
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 7% 15%;
}

/* Section */

.colored-section{
  background-color: #ff4c68;
  color: #fff;

}

.white-section{
  background-color: #fff;
}

/* Title  */
.title-image {
  width: 15%;
  transform: rotate(25deg);
  position: absolute;
  right: 10%;
  top: 30%;
  z-index: 0;
}
.judul1{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 3.5rem;
  line-height: 1.5;
  color: #fff;
  background-color: #ff4c68;
  display: block;
  text-align: left;
}

#title .container-fluid{
  padding: 3% 15% 7%;
  text-align: left;
}

/* Navigation Bar */
.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-weight: 400;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/* Download Button */
.download-button {
  margin: 5% 3% 5% 0;
  font-size: 24px;
  background-color: white;
}




/* Features */
#features{
  height: 400px;
}

.features-box {
  padding: 5%;


}

.features-box1{

  position: relative;
  right: 50%;
  top: 10%;
}
.features-box2{
  position: relative;
  bottom: 176px;
}

.features-box3{
  position: relative;
  left : 450px;
  bottom: 352px;

}
.check-circle {
  color: #ef8172;
  margin-bottom: 1rem;
}

.check-circle:hover {
  color: #ff4c68
}

.features1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 1.5rem;
}

.features2 {
  color: #8f8f8f;
}

.bullseye {
  color: #ef8172;
  margin-bottom: 1rem;
}

.bullseye:hover {
  color: #ff4c68
}

.heart {
  color: #ef8172;
  margin-bottom: 1rem;
}

.heart:hover {
  color: #ff4c68
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* <!-- Pricing --> */
#pricing {
  padding: 100px;
  height: 550px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.column-pricing1 {
  padding: 3% 2%;
  border: solid 1px;
  width: 25%;
}
.column-pricing2{
  padding: 3% 2%;
  border: solid 1px;
  width: 25%;
  position: relative;
  left: 400px;
  bottom: 423px;
}
.column-pricing3{
  padding: 3% 2%;
  border: solid 1px;
  width: 25%;
  position: relative;
  left: 800px;
  bottom: 843px;
}
.btn-price{
    display: block;
    width: 100%;
    border: solid;
    background-color: #fff;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;

}
.btn-price2{
  display: block;
  width: 100%;
  border: solid;
  background-color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  color: white;
}
.type{
  border: solid 0.5px;
  background-color: #F7F7F7;

}
.link {
  color: black;
  margin: 20px 10px;
}


@media (max-width: 1086px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
    width: 60%
  }
}
